.main {
    height: 90%;
    font-size: 32px;
    overflow: hidden;
}

.emoji {
    display: flex;
    height: 100%;
    font-size: 64px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.question { padding: 30px 0; }
.footnote { height: 10%; }
